:global {
  .by-health-points-wrap {
    button,
    input {
      /* table elements 表格元素 */
      margin: 0;
      padding: 0;
      border: none;
      color: #404040;
      box-sizing: border-box;
      font-size: 1em;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none !important;
    }
    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    input[type="text"],
    input[type="tel"] {
      -webkit-appearance: none;
    }
    textarea {
      -webkit-appearance: none;
    }
    input:focus,
    button:focus {
      outline: 0;
    }
  }

  .by-health-points-phone-item,
  .by-health-points-verificationcode-item,
  .by-health-points-verificationcode-item,
  .by-health-points-antifakecode-item,
  .by-health-points-antifakecode-item,
  .by-health-points-submit-item {
    padding: 10px;
    background-color: #aaa;
  }

  .by-health-points-message_close{
    background-color: rgba(0, 0, 0, 0.5);
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    line-height: 1.5em;
    text-align: center;
    right: -2em !important;
    &::before {
      content: '\2715';
      color: #fff;
    }
  }
}
