.root {
    background-color: rgb(168, 168, 168);
    padding: 30px;
}

#phone {
    font-weight: normal;
}

#verificationCode {
    font-weight: normal;

}

#antiFakeCode {
    font-weight: normal;

}

#scan {
    font-weight: normal;
}

#sendVerificationCode {
    font-weight: normal;
    &:disabled {
        opacity: 0.2;
    }
}

#submit {
    font-weight: normal;

}
