.root {
    background-color: rgb(168, 168, 168);
    padding: 30px;
}

#phone {
    font-weight: normal;
}

#verificationCode {
    font-weight: normal;

}

#securityCode {
    font-weight: normal;

}

#scan {
    font-weight: normal;

}

#sendVerificationCode {
    font-weight: normal;

}

#submit {
    font-weight: normal;

}
